<script type="module" src="https://cdn.jsdelivr.net/npm/bsky-embed/dist/bsky-embed.es.js" async></script>

<div class="bsky">
    <bsky-embed
        username="shellygaynor.bsky.social"
        mode=""
        limit="5"
        link-target="_blank"
        link-image="true"
        load-more="true"
        disable-styles="false"
        date-format='{"type":"relative","locale":"en-US"}'
        custom-styles="p { color: black; } .max-w-screen-sm { max-height: 500px; overflow-y: auto; }"
        >
    </bsky-embed>
</div>