{% include nav.html %}

    <!-- Header -->
   
    <header style="background-image: url('{{ site.baseurl }}/img/bg-index.jpeg');  background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; padding: 5%; height: 80vh; background-position-x: 10%;">
        	<div class="container-fluid" style="padding-top: 50%;">
        	 	
        	</div>
    </header>
		
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->