<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" style="color: #ffffff;" href="https://mgaynor1.github.io">{{site.title}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
       						 <li class="nav-item">
       						    <a class="nav-link" href="{{"/about" | relative_url }}">About</a>
        					</li>
       					    <li class="nav-item ">
         					    <a class="nav-link" href="{{"/research" | relative_url }}">Research</a>
        					</li>
       						 <li class="nav-item">
         						 <a class="nav-link" href="{{"/publications" | relative_url }}">Publications</a>
         					</li>	 
         					 <li class="nav-item">
         						 <a class="nav-link" href="{{"/blog" | relative_url }}">Blog</a>
         					</li>
         			</li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- Header -->
   
    <header style="background-image: url('{{ site.baseurl }}/img/header-bg.jpg');  background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; padding: 5%; height: 80vh; background-position-x: 90%;">
        	<div class="container-fluid" style="padding-top: 50%;">
        	 	
        	</div>
    </header>
    <section id="contact" class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
        				<p style="text-transform: none;font-size: 19px; line-height: 1.5; color: #fff;"> I am currently a Ph.D. student in the Soltis Lab at the University of Florida. My general research interest is polyploidy evolution and population genetics. </p>
                </div>
            </div>
        </div>
    </section>
		
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->