.masthead {
    min-height: 50vH;
    display:flex;
    justify-content:center;
    align-items:center;
}

.page-heading {
    vertical-align: middle;
}

h1 {
    font-size: 3.5em;
    text-shadow: 2px 2px 3px #555;
}