@media(max-width:768px) {

    .navbar-default {
        background-color: #222;
    }
}


@media (min-width: 979px) {
    ul.nav li.dropdown#research-nav-item:hover > ul.dropdown-menu#research-dropdown-menu {
        display: block;
    }
}

ul.dropdown-menu > li.nav-item > a {
    color: black;

    &:hover {
        color: white;
    }
}