---
layout: default_2
---

<!-- Page Header -->
<section>
{% if page.background %}
	<div class="container">
	<img  src="url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')" class="img-fluid">
		{% else %}
			<div class="row">
				 <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ page.title }}</h2>
          			{% endif %}
        		</div>
     		 </div>
     		</img> 
    </div>
</section>


<div class="container">
  

      {{ content }}

</div>
